# Ignore built binaries
**/bin/
**/obj/

# Other folders to ignore
**/logs/
**/packages/
/artifacts/
/tools/

# Python files
**/.pytest_cache/
**/__pycache__/
*.pyc

# Visual Studio files
**/.vs/

# Resharper files
**/*.DotSettings.user
**/.idea/**
