* text=auto
*.sh text eol=lf

src/benchmarks/micro/coreclr/BenchmarksGame/Inputs/knucleotide-input-big.txt text eol=lf
src/benchmarks/micro/coreclr/BenchmarksGame/Inputs/knucleotide-input.txt text eol=lf
src/benchmarks/micro/coreclr/BenchmarksGame/Inputs/regexdna-input25.txt text eol=lf
src/benchmarks/micro/coreclr/BenchmarksGame/Inputs/regexdna-input25000.txt text eol=lf
src/benchmarks/micro/coreclr/BenchmarksGame/Inputs/revcomp-input25.txt text eol=lf
src/benchmarks/micro/coreclr/BenchmarksGame/Inputs/revcomp-input25000.txt text eol=lf