# Ignore built binaries
**/bin/
**/obj/

# Folders to ignore
**/logs/
**/packages/
/tools/*
**/reports/
**/.dotnet/

# Python files
**/__pycache__/
*.pyc

**/.vs/

# BenchmarkDotNet results
**/BenchmarkDotNet.Artifacts/

# Resharper files
**/*.DotSettings.user
**/.idea/**
/src/ArtifactsUploader/**/*log*.txt
