* text=auto
*.sh text eol=lf

src/coreclr/BenchmarksGame/k-nucleotide/knucleotide-input-big.txt text eol=lf
src/coreclr/BenchmarksGame/k-nucleotide/knucleotide-input.txt text eol=lf
src/coreclr/BenchmarksGame/regex-redux/regexdna-input25.txt text eol=lf
src/coreclr/BenchmarksGame/regex-redux/regexdna-input25000.txt text eol=lf
src/coreclr/BenchmarksGame/reverse-complement/revcomp-input25.txt text eol=lf
src/coreclr/BenchmarksGame/reverse-complement/revcomp-input25000.txt text eol=lf
