resources:
  containers:
    - container: ubuntu_x64_build_container
      image: microsoft/dotnet-buildtools-prereqs:ubuntu-16.04-c103199-20180628134544

trigger:
- master

pr:
- master

# Full stack SDK Performance Testing
jobs:
- template: /eng/common/templates/jobs/jobs.yml
  parameters:
    enableTelemetry: false
    enablePublishBuildArtifacts: true
    helixRepo: dotnet/performance
    jobs:
      - job: sdk_performance_windows
        timeoutInMinutes: 240
        variables:
        - ${{ if in(variables['Build.Reason'], 'PullRequest') }}:
          - name: _RunType
            value: private
          - name: BenchviewCommitName
            value: '.NET Performance - CoreClr $(_RunType) - $(Build.SourceBranchName) $(System.PullRequest.PullRequestNumber)'
          - name: UploadToBenchview
            value: ''
          - name: _HelixQueue
            value: Windows.Amd64.ClientRS4.DevEx.15.8.Perf
          - name: IsExternal
            value: true
          - name: Creator
            value: dotnet-performance
          - name: BDNArguments
            value: --iterationCount 2
        - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
          - name: _RunType
            value: rolling
          - name: BenchviewCommitName
            value: '.NET Performance - CoreClr $(_RunType) - $(Build.SourceBranchName) $(Build.SourceVersion)'
          - name: UploadToBenchview
            value: '--upload-to-benchview-container coreclr'
          - name: _HelixQueue
            value: Windows.10.Amd64.ClientRS1.Perf
          - name: IsExternal
            value: false
          - name: Creator
            value: ''
          - group: DotNet-HelixApi-Access
          - group: dotnet-benchview
        workspace:
          clean: all
        pool:
          name: Hosted VS2017
        strategy:
          matrix:
            x64_CoreCLR_netcoreapp30:
              _Architecture: x64
              _Category: CoreCLR
              _Framework: netcoreapp3.0
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
            x86_CoreCLR_netcoreapp30:
              _Architecture: x86
              _Category: CoreCLR
              _Framework: netcoreapp3.0
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
        steps:
        - checkout: self
          clean: true
        - template: /eng/common/templates/steps/send-to-helix.yml
          parameters:
            HelixSource: 'pr/dotnet/performance/$(Build.SourceBranch)' # sources must start with pr/, official/, prodcon/, or agent/
            HelixType: 'test/performance_$(_BuildConfig)/'
            HelixTargetQueues: $(_HelixQueue)
            WorkItemDirectory: $(Build.SourcesDirectory)\src\benchmarks\micro
            WorkItemCommand: py -3 %HELIX_CORRELATION_PAYLOAD%\benchmarks_ci.py --benchview-submission-name "$(BenchviewCommitName)" --working-directory %HELIX_WORKITEM_PAYLOAD% --bin-directory %HELIX_WORKITEM_PAYLOAD% --incremental no --category $(_Category) --architecture $(_Architecture) -f $(_Framework) --benchview-machinepool perfsnake --generate-benchview-data --benchview-run-type $(_RunType) $(UploadToBenchview) --bdn-arguments="--buildTimeout 300 $(BDNArguments)"
            WorkItemTimeout: 14400 # 4 hours
            CorrelationPayloadDirectory: $(Build.SourcesDirectory)\scripts
            EnableXUnitReporter: false
            IsExternal: $(IsExternal)
            Creator: $(Creator)
      # Only run linux runs on commit
      - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
        - job: sdk_performance_linux
          timeoutInMinutes: 240
          variables:
            - name: _RunType
              value: rolling
            - name: BenchviewCommitName
              value: '.NET Performance - CoreClr $(_RunType) - $(Build.SourceBranchName) $(Build.SourceVersion)'
            - name: UploadToBenchview
              value: '--upload-to-benchview-container coreclr'
            - group: DotNet-HelixApi-Access
            - group: dotnet-benchview
          workspace:
            clean: all
          pool:
            name: Hosted Ubuntu 1604
          container: ubuntu_x64_build_container
          strategy:
            matrix:
              x64_CoreCLR_netcoreapp30:
                _Architecture: x64
                _Category: CoreCLR
                _Framework: netcoreapp3.0
                _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
          steps:
          - checkout: self
            clean: true
          - template: /eng/common/templates/steps/send-to-helix.yml
            parameters:
              HelixSource: 'pr/dotnet/performance/$(Build.SourceBranch)' # sources must start with pr/, official/, prodcon/, or agent/
              HelixType: 'test/performance_$(_BuildConfig)/'
              HelixTargetQueues: Ubuntu.1604.Amd64.Perf
              WorkItemDirectory: $(Build.SourcesDirectory)/src/benchmarks/micro
              WorkItemCommand: python3.5 $HELIX_CORRELATION_PAYLOAD/benchmarks_ci.py --benchview-submission-name "$(BenchviewCommitName)" --working-directory $HELIX_WORKITEM_PAYLOAD --bin-directory $HELIX_WORKITEM_PAYLOAD --incremental no --category $(_Category) --architecture $(_Architecture) -f $(_Framework) --benchview-machinepool perfsnake --generate-benchview-data --benchview-run-type $(_RunType) $(UploadToBenchview) --bdn-arguments="--buildTimeout 300"
              WorkItemTimeout: 14400 # 4 hours
              CorrelationPayloadDirectory: $(Build.SourcesDirectory)/scripts
              EnableXUnitReporter: false
