resources:
  containers:
    - container: ubuntu_x64_build_container
      image: microsoft/dotnet-buildtools-prereqs:ubuntu-16.04-c103199-20180628134544

trigger:
- master

pr:
- master

# Full stack SDK Performance Testing
jobs:
- template: /eng/common/templates/jobs/jobs.yml
  parameters:
    enableTelemetry: false
    enablePublishBuildArtifacts: true
    helixRepo: dotnet/performance
    jobs:
      - job: sdk_performance_windows
        timeoutInMinutes: 240
        variables:
        - ${{ if eq(variables['System.TeamProject'], 'public') }}:
          - name: _RunType
            value: private
          - name: BenchviewCommitNamePostfix
            value: '$(_RunType) - $(Build.SourceBranchName) $(System.PullRequest.PullRequestNumber)'
          - name: UploadToBenchview
            value: '--category'
          - name: _HelixQueue
            value: Windows.Amd64.ClientRS4.DevEx.15.8.Perf
          - name: IsExternal
            value: true
          - name: Creator
            value: dotnet-performance
          - name: BDNArguments
            value: --iterationCount 1 --warmupCount 0 --invocationCount 1 --unrollFactor 1 --strategy ColdStart
          - name: HelixApiAccessToken
            value: ''
        - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
          - name: _RunType
            value: rolling
          - name: BenchviewCommitNamePostfix
            value: '$(_RunType) - $(Build.SourceBranchName) $(Build.SourceVersion)'
          - name: UploadToBenchview
            value: '--upload-to-benchview-container'
          - name: _HelixQueue
            value: Windows.10.Amd64.ClientRS1.Perf
          - name: IsExternal
            value: false
          - name: Creator
            value: ''
          - name: BDNArguments
            value: ''
          - group: DotNet-HelixApi-Access
          - group: dotnet-benchview
        workspace:
          clean: all
        pool:
          name: Hosted VS2017
        strategy:
          matrix:
            x64_CoreCLR_netcoreapp30:
              _Architecture: x64
              _Category: CoreCLR
              _Framework: netcoreapp3.0
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: '--benchview-submission-name ".NET Performance - CoreClr $(BenchviewCommitNamePostfix)" --benchview-machinepool perfsnake --generate-benchview-data --benchview-run-type $(_RunType) $(UploadToBenchview) coreclr'
            x86_CoreCLR_netcoreapp30:
              _Architecture: x86
              _Category: CoreCLR
              _Framework: netcoreapp3.0
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: '--benchview-submission-name ".NET Performance - CoreClr $(BenchviewCommitNamePostfix)" --benchview-machinepool perfsnake --generate-benchview-data --benchview-run-type $(_RunType) $(UploadToBenchview) coreclr'
            x64_CoreFX_netcoreapp30:
              _Architecture: x64
              _Category: CoreFX
              _Framework: netcoreapp3.0
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: '--benchview-submission-name ".NET Performance - CoreFx $(BenchviewCommitNamePostfix)" --benchview-machinepool perfsnake --generate-benchview-data --benchview-run-type $(_RunType) $(UploadToBenchview) corefx'
            x86_CoreFX_netcoreapp30:
              _Architecture: x86
              _Category: CoreFX
              _Framework: netcoreapp3.0
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: '--benchview-submission-name ".NET Performance - CoreFx $(BenchviewCommitNamePostfix)" --benchview-machinepool perfsnake --generate-benchview-data --benchview-run-type $(_RunType) $(UploadToBenchview) corefx'
            x64_CoreCLR_netcoreapp22:
              _Architecture: x64
              _Category: CoreCLR
              _Framework: netcoreapp2.2
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x86_CoreCLR_netcoreapp22:
              _Architecture: x86
              _Category: CoreCLR
              _Framework: netcoreapp2.2
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x64_CoreFX_netcoreapp22:
              _Architecture: x64
              _Category: CoreFX
              _Framework: netcoreapp2.2
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x86_CoreFX_netcoreapp22:
              _Architecture: x86
              _Category: CoreFX
              _Framework: netcoreapp2.2
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x64_CoreCLR_netcoreapp21:
              _Architecture: x64
              _Category: CoreCLR
              _Framework: netcoreapp2.1
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x86_CoreCLR_netcoreapp21:
              _Architecture: x86
              _Category: CoreCLR
              _Framework: netcoreapp2.1
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x64_CoreFX_netcoreapp21:
              _Architecture: x64
              _Category: CoreFX
              _Framework: netcoreapp2.1
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x86_CoreFX_netcoreapp21:
              _Architecture: x86
              _Category: CoreFX
              _Framework: netcoreapp2.1
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x64_CoreCLR_netcoreapp20:
              _Architecture: x64
              _Category: CoreCLR
              _Framework: netcoreapp2.0
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x86_CoreCLR_netcoreapp20:
              _Architecture: x86
              _Category: CoreCLR
              _Framework: netcoreapp2.0
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x64_CoreFX_netcoreapp20:
              _Architecture: x64
              _Category: CoreFX
              _Framework: netcoreapp2.0
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x86_CoreFX_netcoreapp20:
              _Architecture: x86
              _Category: CoreFX
              _Framework: netcoreapp2.0
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x64_CoreCLR_full_framework:
              _Architecture: x64
              _Category: CoreCLR
              _Framework: net461
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x86_CoreCLR_full_framework:
              _Architecture: x86
              _Category: CoreCLR
              _Framework: net461
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x64_CoreFX_full_framework:
              _Architecture: x64
              _Category: CoreFX
              _Framework: net461
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
            x86_CoreFX_full_framework:
              _Architecture: x86
              _Category: CoreFX
              _Framework: net461
              _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
              _BenchViewArguments: ''
        steps:
        - checkout: self
          clean: true
        - template: /eng/common/templates/steps/send-to-helix.yml
          parameters:
            HelixSource: 'pr/dotnet/performance/$(Build.SourceBranch)' # sources must start with pr/, official/, prodcon/, or agent/
            HelixType: 'test/performance_$(_BuildConfig)/'
            HelixAccessToken: $(HelixApiAccessToken)
            HelixTargetQueues: $(_HelixQueue)
            WorkItemDirectory: $(Build.SourcesDirectory)\src\benchmarks\micro
            WorkItemCommand: py -3 %HELIX_CORRELATION_PAYLOAD%\benchmarks_ci.py $(_BenchViewArguments) --working-directory . --bin-directory ".\bin" --incremental no --category $(_Category) --architecture $(_Architecture) -f $(_Framework) --bdn-arguments="$(BDNArguments)"
            WorkItemTimeout: 14400 # 4 hours
            CorrelationPayloadDirectory: $(Build.SourcesDirectory)\scripts
            EnableXUnitReporter: false
            IsExternal: $(IsExternal)
            Creator: $(Creator)
      # Only run linux runs on commit
      - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
        - job: sdk_performance_linux
          timeoutInMinutes: 240
          variables:
            - name: _RunType
              value: rolling
            - name: BenchviewCommitNamePostfix
              value: '$(_RunType) - $(Build.SourceBranchName) $(Build.SourceVersion)'
            - name: UploadToBenchview
              value: '--upload-to-benchview-container'
            - group: DotNet-HelixApi-Access
            - group: dotnet-benchview
          workspace:
            clean: all
          pool:
            name: Hosted Ubuntu 1604
          container: ubuntu_x64_build_container
          strategy:
            matrix:
              x64_CoreCLR_netcoreapp30:
                _Architecture: x64
                _Category: CoreCLR
                _Framework: netcoreapp3.0
                _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
                _BenchViewArguments: '--benchview-submission-name ".NET Performance - CoreClr $(BenchviewCommitNamePostfix)" --benchview-machinepool perfsnake --generate-benchview-data --benchview-run-type $(_RunType) $(UploadToBenchview) coreclr'
              x64_CoreFX_netcoreapp30:
                _Architecture: x64
                _Category: CoreFX
                _Framework: netcoreapp3.0
                _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
                _BenchViewArguments: '--benchview-submission-name ".NET Performance - CoreFx $(BenchviewCommitNamePostfix)" --benchview-machinepool perfsnake --generate-benchview-data --benchview-run-type $(_RunType) $(UploadToBenchview) corefx'
              x64_CoreCLR_netcoreapp22:
                _Architecture: x64
                _Category: CoreCLR
                _Framework: netcoreapp2.2
                _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
                _BenchViewArguments: ''
              x64_CoreFX_netcoreapp22:
                _Architecture: x64
                _Category: CoreFX
                _Framework: netcoreapp2.2
                _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
                _BenchViewArguments: ''
              x64_CoreCLR_netcoreapp21:
                _Architecture: x64
                _Category: CoreCLR
                _Framework: netcoreapp2.1
                _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
                _BenchViewArguments: ''
              x64_CoreFX_netcoreapp21:
                _Architecture: x64
                _Category: CoreFX
                _Framework: netcoreapp2.1
                _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
                _BenchViewArguments: ''
              x64_CoreCLR_netcoreapp20:
                _Architecture: x64
                _Category: CoreCLR
                _Framework: netcoreapp2.0
                _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
                _BenchViewArguments: ''
              x64_CoreFX_netcoreapp20:
                _Architecture: x64
                _Category: CoreFX
                _Framework: netcoreapp2.0
                _BuildConfig: $(_Architecture)_$(_Category)_$(_Framework)
                _BenchViewArguments: ''
          steps:
          - checkout: self
            clean: true
          - template: /eng/common/templates/steps/send-to-helix.yml
            parameters:
              HelixSource: 'pr/dotnet/performance/$(Build.SourceBranch)' # sources must start with pr/, official/, prodcon/, or agent/
              HelixType: 'test/performance_$(_BuildConfig)/'
              HelixAccessToken: $(HelixApiAccessToken)
              HelixTargetQueues: Ubuntu.1604.Amd64.Perf
              WorkItemDirectory: $(Build.SourcesDirectory)/src/benchmarks/micro
              WorkItemCommand: python3.5 $HELIX_CORRELATION_PAYLOAD/benchmarks_ci.py $(_BenchViewArguments) --working-directory $HELIX_WORKITEM_PAYLOAD --bin-directory $HELIX_WORKITEM_PAYLOAD --incremental no --category $(_Category) --architecture $(_Architecture) -f $(_Framework) --bdn-arguments="--buildTimeout 300"
              WorkItemTimeout: 14400 # 4 hours
              CorrelationPayloadDirectory: $(Build.SourcesDirectory)/scripts
              EnableXUnitReporter: false
