parameters:
- name: runPublicJobs
  type: boolean
  default: false
- name: runPrivateJobs
  type: boolean
  default: false
- name: runScheduledPrivateJobs
  type: boolean
  default: false
- name: onlySanityCheck
  type: boolean
  default: false

resources:
  containers:
    - container: ubuntu_x64_build_container
      image: mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-22.04

trigger:
  branches:
    include:
    - main
  paths:
    exclude: # don't trigger if only docs and similar files changed
    - docs/*
    - '**/*.md'
    - 'gc-azure-pipelines.yml'
    - src/benchmarks/gc/*

pr:
  branches:
    include:
    - main
  paths:
    exclude: # don't trigger if only docs and similar files changed
    - docs/*
    - '**/*.md'
    - scripts/benchmarks_monthly.py
    - 'gc-azure-pipelines.yml'
    - src/benchmarks/gc/*

schedules:
- cron: "0 */12 * * *"
  displayName: Every 12 hours build
  branches:
    include:
    - main
  always: true
- cron: "0 21 * * THU"
  displayName: Weekly Build
  branches:
    include:
    - main
  always: true

jobs:
  - template: /eng/pipelines/runtime-wasm-perf-jobs.yml
    parameters:
      runProfile: 'v8'
      jobParameters:
        ${{ if parameters.onlySanityCheck }}:
          onlySanityCheck: true
