parameters:
- name: runPublicJobs
  type: boolean
  default: false
- name: runPrivateJobs
  type: boolean
  default: false
- name: runScheduledPrivateJobs
  type: boolean
  default: false
- name: onlySanityCheck
  type: boolean
  default: false

resources:
  containers:
    - container: ubuntu_x64_build_container
      image: mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-22.04

trigger:
  branches:
    include:
    - main
  paths:
    exclude: # don't trigger if only docs and similar files changed
    - docs/*
    - '**/*.md'
    - 'gc-azure-pipelines.yml'
    - src/benchmarks/gc/*

pr:
  branches:
    include:
    - main
  paths:
    exclude: # don't trigger if only docs and similar files changed
    - docs/*
    - '**/*.md'
    - scripts/benchmarks_monthly.py
    - 'gc-azure-pipelines.yml'
    - src/benchmarks/gc/*

schedules:
- cron: "0 */12 * * *"
  displayName: Every 12 hours build
  branches:
    include:
    - main
  always: true
- cron: "0 21 * * THU"
  displayName: Weekly Build
  branches:
    include:
    - main
  always: true

jobs:
  - template: /eng/pipelines/sdk-perf-jobs.yml
    parameters:
      ${{ if or(eq(variables['System.TeamProject'], 'public'), parameters.runPublicJobs) }}:
        runPublicJobs: ${{ parameters.runPublicJobs }}
      ${{ if ne(variables['System.TeamProject'], 'public') }}:
        ${{ if or(and(notin(variables['Build.Reason'], 'PullRequest', 'Manual'), parameters.runPrivateJobs) }}:
          runPrivateJobs: ${{ parameters.runPrivateJobs }}
        ${{ if or(eq(variables['Build.CronSchedule.DisplayName'], 'Every 12 hours build'), parameters.runScheduledPrivateJobs) }}:
          runScheduledPrivateJobs: ${{ parameters.runScheduledPrivateJobs }}
      jobParameters:
        ${{ if parameters.onlySanityCheck }}:
          onlySanityCheck: true

  - ${{ if and(ne(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'Schedule', 'Manual')) }}:
    # Secret Sync
    - job: Synchronize
      pool:
        name: NetCore1ESPool-Internal-NoMSI
        demands: ImageOverride -equals 1es-windows-2019
      steps:
      - task: UseDotNet@2
        displayName: Install .NET 6.0 
        inputs:
          version: 6.x

      - task: DeleteFiles@1
        inputs:
          Contents: global.json

      - script: dotnet tool restore

      - task: AzureCLI@2
        inputs:
          azureSubscription: .NET Performance (790c4451-dad9-4fda-af8b-10bd9ca328fa)
          scriptType: ps
          scriptLocation: inlineScript
          inlineScript: |
            Get-ChildItem .vault-config/*.yaml |% { dotnet secret-manager synchronize $_}