name: Markdownlint

permissions:
  contents: read

on:
  pull_request:
    paths:
      - "**/*.md"
      - ".markdownlint.jsonc"
      - ".github/workflows/markdownlint.yml"
      - ".github/workflows/markdownlint-problem-matcher.json"
      - "!eng/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js
      uses: actions/setup-node@v5
      with:
        node-version: '20'
    - name: Install markdownlint-cli
      run: |
        echo "::add-matcher::.github/workflows/markdownlint-problem-matcher.json"
        npm install --global --no-audit --no-fund markdownlint-cli@0.45.0
    - name: Run markdownlint
      run: |
        markdownlint --config ./.markdownlint.jsonc '**/*.md'
