<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="dotnet-public">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet9">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet8">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet-eng">
      <package pattern="Microsoft.DotNet.Helix.*" />
      <package pattern="Microsoft.DotNet.Arcade.*" />
      <package pattern="Microsoft.Arcade.*" />
      <package pattern="Microsoft.DotNet.XliffTasks" />
    </packageSource>
  </packageSourceMapping>
</configuration>
